<div class="sign-up-container">
    <h1>Welcome to the Sign Up Page</h1>
    <h3>Please fill in the details to create an account.</h3>

    <div class="form-container">
        <form #signUpForm="ngForm" (ngSubmit)="submitForm(signUpForm)">
            <div class="form-group">
            <label class="fname" for="firstName">First Name:</label>
            <input type="text" id="firstName" [(ngModel)]="model.firstName" name="firstName" required  #firstName="ngModel" />
            <div *ngIf="firstName.invalid && firstName.touched" class="error" style="color: red;">
                First Name is required.
            </div>
            <br><br>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="model.lastName" required #lastName="ngModel" />
            <div *ngIf="lastName.invalid && lastName.touched" class="error" style="color: red;">
                Last name is required
            </div>
            <br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="model.email" required email #email="ngModel" />
            <div *ngIf="email.invalid && email.touched" class="error" style="color: red;">
                <span *ngIf="email.errors?.['required']">Email is required</span>
                <span *ngIf="email.errors?.['email']">Enter a valid email</span>
            </div>
            <br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="model.password" required #password="ngModel" />
            <div *ngIf="password.invalid && password.touched" class="error" style="color: red;">
                Password is required
            </div>
            <br><br>
             <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
</div>
               <br><br>
        </form>

        <p *ngIf="errorMessage()" style="color: red;"> {{ errorMessage() }}
        </p>
        <p *ngIf="successMessage()" style="color: green;"> {{ successMessage() }} </p>
  
        <a routerLink="/login">Login here</a>
    </div>
</div>
