<div class="sign-up-container">
    <h1>Welcome to the Sign Up Page</h1>
    <h3>Please fill in the details to create an account.</h3>

    <div class="form-container">

        <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
            <label class="fname" for="firstName">First Name</label>
            <div>
                <input type="text" name="firstName" id="firstName" class="text-box" required formControlName="firstName"/>
            </div>
            @if (signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched){
                <p lcass="error" style="color: red;">First Name is required.</p>
            }

            <label for="lastName">Last Name</label>
            <div>
                <input type="text" name="lastName" id="lastName" class="text-box" required formControlName="lastName"/>
            </div>
            @if (signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched){
                <p class="error" style="color: red;">Last name is required.</p>
            }

            <label for="email">Email:</label>
            <div>
                <input type="email" name="email" id="email" class="text-box" required email formControlName="email"/>
            </div>
            @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched){
                @if (signUpForm.get('email')?.hasError('required')){
                    <p class="error" style="color: red;">Email is required.</p>
                }
                @if (signUpForm.get('email')?.hasError('email')){
                    <p class="error" style="color: red;">Enter a valid email.</p>
                }
            }

            <label for="password">Password:</label>
            <div>
                <input type="password" name="password" id="password" class="text-box" required formControlName="password"/>
            </div>
            @if (signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched){
                <p class="error" style="color: red;">Password is required.</p>
            }
            <ul>
                @if (signUpForm.get('password')?.touched){
                    @if (signUpForm.get('password')?.hasError('specialCharMissing')) {
                        <li style="color: red;">Password must contain at least 1 special character.</li>
                    }
                    @else {
                        <li style="color: green;">Password must contain at least 1 special character.</li>
                    }
                    @if (signUpForm.get('password')?.value.length < 8){
                        <li style="color: red;">Pasword must contain at least 8 characters.</li>
                    }
                    @else{
                        <li style="color: green">Password must contain at least 8 characters.</li>
                    }
                }
            </ul>

        </form>

        <p *ngIf="errorMessage()" style="color: red;"> {{ errorMessage() }}
        </p>
        <p *ngIf="successMessage()" style="color: green;"> {{ successMessage() }} </p>

        <a routerLink="/login">Login here</a>
    </div>
</div>