<div class="list-column">
  <!-- Title (looks like a button, not clickable) -->
  @if(State() == 'view'){
  <div class="list-title">
    {{ listname() }}
  </div>
  }
  @if(State() == 'edit'){
  <input class="list-title" type="text" [(ngModel)]="listname" (keydown.enter)="UpdateList()" />
  @if (listname() == '') {
  <p class="errorColor"> List Name Cannot Be Empty </p>
  }
  }
  @if (State() == 'delete'){
  <p>Are you sure you want to delete this list?</p>
  <button (click)="DeleteList() ; State.set('view')">Yes</button>
  <button (click)="State.set('view')">No</button>
  }
  @if(showErrorMessage()==true){
  <p class="errorColor" > Cannot delete a list with tasks. Please remove all tasks first. </p>
  }

  <!-- This holds your todo items -->
  <div class="boarder">
    @for (task of listSize(); track task.id){
      <div class="single-task" routerLink="/taskDetails/{{task.id}}">
        <app-task [taskId]="task.id"></app-task>
      </div>
      <button class="trash-can" matIconButton (click)="onTaskDelClick(task.id)">
        <mat-icon>delete outline icon</mat-icon>
     </button>
    }
  </div>

  <!-- Add button -->
  <button class="add-btn" routerLink="/createTask/{{this.listId()}}">+</button>

  <!-- Tool Bar -->

  <span class="toolbar-location">
    <button class="custom-toolbar-btn" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()">
      <mat-icon class="toolbar-tools">menu</mat-icon>
    </button>
    <mat-menu  #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item (click)="State.set('delete')">
          <mat-icon >delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="flipState()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      </span>
    </mat-menu>
  </span>
</div>
