.text-box {
    width: 300px;
    border: 2px solid gray;
    padding: 8px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

html {
    background-color: red;
}
 
.text-box-label {
    width: 300px;
    padding: 8px;
    margin: 10px;
}


