<div class="container">
    <div class="simple-details">
        <label for="title" class="text-box-label">Title</label>
        <div id="title" class="text-box">{{currentTask().title}}</div>
        
        <label for="due-date" class="text-box-label">Due Date</label>
        <div id="due-date" class="text-box">{{currentTaskDate()}}</div>
    
        <label for="status" class="text-box-label">Status</label>
        <div id="status" class="text-box">{{currentTask().currentStatus.name}}</div>
    </div>
    <div class="complex-details">
        <div class="Priority-container">
            <label for="priority" class="text-box-label">Priority</label>
            <div id="priority" class="text-box">{{currentTask().priority}}</div>
        </div>
        
        <div class="parent-container">
            <label for="parent" class="text-box-label"> Parent Task</label>  
            @if (currentTask().parentId != null){
                <div id="parent" class="clickable-task" routerLink="/taskDetails/{{currentTask().parentId}}" (click)="onParentClick()">
                    {{currentTaskParent().title}} <br>
                    Id: {{currentTask().parentId}}
                </div>
            }
            @else{
                <div id="parent" class="text-box">No current Parent task</div>
            }
        </div>
 
    </div>
</div>

<button class="edit-button">Edit</button>

