.container {
    background-color: lightgray;
    border-radius: 8px;
    padding: 10px;
    margin: 3px;
}

.task-info {
    text-align: center;
}

.alarm{
    position: relative;
    top: 6px;
}

.trash-can {
    position: relative;
    left: 220px;
    bottom: 95px;
    border: none;
    border-radius: 10px;
}
.trash-can:hover {
    background-color: rgb(223, 223, 223);
}