
.container{
    display: flex;
    flex-direction: row;
}

.left-details{
    margin-top: 100px;
    order: 1;
}

.right-details {
    margin-top: 100px;
    order: 2;
}

.text-box-label {
    width: 300px;
    padding: 8px;
}

label {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}

.text-box {
    width: 300px;
    padding: 8px;
    margin: 10px;
    background-color: white;
    border-radius: 6px;
    border: none;
}

.submit-button{
    position: relative;
    left: 750px;
    bottom: 250px;
}

 .date-picker {
    position: relative;
    top: 8px;
    right: 48px;
}

.dropdown-container {
    position: relative;
    bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 6px;
}

.dropdown-options {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    position: relative;
    left: 12px;
    margin: 0px;
}
.dropdown-options:hover {
    background-color: aliceblue;
    cursor: pointer;
}