<div class="login-container">
  <h1>Login</h1>
  <h3>Please enter your credentials to access your account.</h3>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="form-group">
    <label for="email">Email</label>
    <div>
      <input type="email" id="email" name="email" required formControlName="email"/>
    </div>

    <label for="password">Password</label>
    <div>
      <input type="password" id="password" name="password" required formControlName="password"/>
    </div>

    <p style="padding-left: 120px;">
      <a routerLink="/resetPassword">Reset Password</a>
    </p>

    <button class="submit-btn" matButton="tonal" type="submit" [disabled]="loginForm.invalid">Log In</button>
  </form>


  @if (successMessage()) {
    <p style="color: green;">{{successMessage()}}</p>
  }
  @if (errorMessage()) {
      <p style="color: red;"> {{errorMessage()}} </p>
  }

  <p> 
    Don't have an account? <a routerLink="/signup">Sign up here</a>
  </p>

</div>
