.notes-container {
    display: flex;
    flex-direction: column;
    order: 2;
    text-align: left;
}

.note-textarea {
    width: 330px;
    height: 80px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 0px;
    field-sizing: content;
    min-height: 2em;
    max-height: 300px;
    overflow:auto;
    resize: none;
    border-radius: 20px;
  
}

.note-meta {
    font-size: 15px;
    margin-left: 10px;
    background-color: white;
    width: 190px;
    padding: 1px;
    border-radius: 5px;
    /* background-color: rgb(155, 47, 155); */
    color: black;
}

.header {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin: 10px;
}

.null {
    width: 150px;
    height: 50px;
    padding: 8px;
    margin: 10px;
    border-radius: 6px;
    background-color: white;
}

.delete-btn {
    background-color: purple;
    position: absolute;
    left: 382px;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
    margin-top: -10px;
    color: white;


}

.delete-btn:hover{background-color: black; color: red;}