<!-- <div class="notes-container"> 
 <h3>Task Notes ({{ notes().length }})</h3>

   @if (notes().length === 0){
        <p>No notes available for this task.</p>
     }

     @for (note of notes(); track note.id){
        <div class="note-item">
            <p>{{ note.note }}</p>
            <small>Created: {{ note.createdDate | date:'short' }}</small>
        </div>
    }
  </div> -->

  <div class="notes-container">
  <h3>Notes </h3>

  @if (notes().length === 0) {
    <p>No notes for this task.</p>
  }

  @for (note of notes(); track note.id) {
    <div class="note-box">
      <textarea  class="note-text">
         {{ note.note }}
      </textarea>

      <div class="note-meta">
        Created: {{ note.createdDate | date:'short' }}
      </div>
    </div>
  }
</div>
