.note-textarea {
    width: 275px;
    height: 30px;
    padding: 8px;
    margin: 10px;
    background-color: white;
    border-radius: 6px;
}

.note-meta {
    font-size: 15px;
    margin-left: 10px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    margin: 10px;
}

.null {
    width: 150px;
    height: 50px;
    padding: 8px;
    margin: 10px;
    border-radius: 6px;
    background-color: white;
}

.notes-container {
    display: flex;
    flex-direction: column;
    order: 3;
    text-align: left;
}

.delete-btn {
    background-color: white;
    position: absolute;
    left: 260px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}