<div class="notes-container">
  <h3 class="header"><strong>Notes</strong></h3>

  @if (notes().length === 0) {
  <div class="null">
    <p>No notes for this task.</p>
  </div>
  }
  @for (note of notes(); track note.id) {
  <div readonly class="note-textarea">
    <button matIconButton class="delete-btn" (click)="DeleteNote(note.id)">
      <mat-icon>delete</mat-icon>
    </button>
    {{ note.note }} 
  </div>
  <div class="note-meta">
    Created: {{ note.createdDate | date:'short' }}
  </div>
  }
</div>