.notes-container{
    display: flex;
    flex-direction: column;
    width: 360px;
}

.note-textarea{
    width: 330px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    resize: none;
    border-radius: 30px;
}

.submit-note{
   text-align: center;
   cursor: pointer;
   position: relative;
   left: 16px;
}
