/* You can add global styles to this file, and also import other style files */
body {
    background: var(--mat-sys-primary-container);
    background-color: var(--mat-sys-surface);
  
}

.list-column{
    background: var(--mat-sys-primary-container);
}

.nav-bar{
    /* background: var(--mat-sys-primary-container); */
    background-color: var(--mat-sys-surface);

}

.full-page-container{
    background: var(--mat-sys-primary-container);

}

.login-container{
   background: var(--mat-sys-primary-container);
}

.sign-up-container{
   background: var(--mat-sys-primary-container);

}