/* You can add global styles to this file, and also import other style files */
body {
    background: var(--mat-sys-primary-container);
    background-color: var(--mat-sys-surface);

}

.list-column{
    background: var(--mat-sys-primary-container);
}

.nav-bar{
    background: var(--mat-sys-primary-container);
    /* background-color: var(--mat-sys-surface); */

}

.full-page-container{
    background: var(--mat-sys-primary-container);

}

.login-container{
   background: var(--mat-sys-primary-container);
}

.sign-up-container{
   background: var(--mat-sys-primary-container);

}

.addList-btn{
    background: var(--mat-sys-secondary-fixed-dim);
}
.list-title {
    background: var(--mat-sys-secondary-fixed-dim);
}
.add-btn {
    background: var(--mat-sys-secondary-fixed-dim);
}
.custom-toolbar-btn {
    background-color: var(--mat-sys-secondary-fixed-dim);
    color: rgb(0, 0, 2);
    border-radius: 4px;
    border: none;
}

/* MAYBE WE DECIDE ON ONE COLOR FOR ALL HOVER */
.trash-can:hover {
    background-color: var(--mat-sys-secondary-fixed);
    color: rgb(32, 7, 255);
    border-radius: 4px;
    border: none;
}
.trash-can {
    background-color: var(--mat-sys-primary-container);
    /* color: rgb(10, 0, 66); */
    border-radius: 10px;
    width: 40px;
}
.container {
    background-color: var(--mat-sys-secondary-fixed-dim);
    border-radius: 8px;
    padding: 10px;
    margin: 3px;
}

.alarm{
    color: rgb(32, 7, 255);
}
