.reset-container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 10px lightgray;

    position: fixed;
    gap: 20px;
    padding: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
