<div class="reset-container">
    <h2>Reset Password</h2>
    <form #taskForm="ngForm" class="form">
        <label for="email" class="text-box-label">Email</label>
        <div>
            <input type="text" name="email" id="email" class="text-box" [(ngModel)]="model.email"/>
        </div>

        <label for="old-pass" class="text-box-label">Old Password</label>
        <div>
            <input type="text" name="old-pass" id="old-pass" class="text-box" [(ngModel)]="model.oldPassword"> 
        </div>

        <label for="new-pass" class="text-box-label">New Password</label>
        <div>
            <input type="text" name="new-pass" id="new-pass" class="text-box" [(ngModel)]="model.newPassword"> 
        </div>

        <button type="submit" (click)="submitForm(taskForm)">Reset Password</button>
    </form>
    <p *ngIf="successMessage()" style="color: green;">
        {{ successMessage() }}
    </p>
    <p *ngIf="successMessage()">
       <a routerLink="/login">Return to Login</a> 
    </p>
</div>



