
<div class="reset-container">
    <h1 class="reset-head">Reset Password</h1>

    <form [formGroup]="resetForm" (ngSubmit)="submitForm()" class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required formControlName="email"/>

        <label for="old-pass">Old Password</label>
        <input type="password" name="old-pass" id="old-pass" required formControlName="oldPassword"> 

        <label for="new-pass">New Password</label>
        <input type="password" name="new-pass" id="new-pass" required formControlName="newPassword"> 

        <ul style="padding-left: 30px;">
            @if (resetForm.get('newPassword')?.touched){
                @if (resetForm.get('newPassword')?.hasError('specialCharMissing')) {
                    <li style="color: red; font-size: small;">Password must contain at least 1 special character.</li>
                }
                @else {
                    <li style="color: green; font-size: small;">Password must contain at least 1 special character.</li>
                }
                @if (resetForm.get('newPassword')?.value.length < 8){
                    <li style="color: red; font-size: small;">Pasword must contain at least 8 characters.</li>
                }
                @else{
                    <li style="color: green; font-size: small;">Password must contain at least 8 characters.</li>
                }
            }
        </ul>

        <button class="submit-btn" matButton="tonal" type="submit" [disabled]="!resetForm.valid">Reset Password</button>
    </form>

    @if (successMessage()) {
        <p style="color: green;">{{successMessage()}}</p>
        <a routerLink="/login">Return to Login</a> 
    }
    @if (errorMessage()) {
        <p style="color: red;"> {{errorMessage()}} </p>
    }
    
</div>



